doctype html
html
  head
    title NodeBlog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      img.logo(src='/images/nodebloglogo.png')
      nav
        ul
          li
            a(href='/') Home
          if user
            li
              a(href='/posts/add') Add Post
            li
              a(href='/categories/add') Add Category
            li
              a(href='/users/logout') Logout
          if !user
            li(class=(title == 'Register' ? 'active' : ''))
              a(href='/users/register') Register
            li(class=(title == 'Login' ? 'active' : ''))
              a(href='/users/login') Log In
      != messages()
      block content
      footer
        p NodeBlog &copy; 2015
